# Triton builds
build/

# Triton Python module builds
python/build/
python/triton.egg-info/
python/triton/_C/libtriton.pyd
python/triton/_C/libtriton.so

# Python caches
__pycache__
.pytest_cache

# VS Code project files
.vscode
.vs

# llvm
llvm-project/
llvm-build/

# build
python/triton/_C/libtriton/

# JetBrains project files
.idea
cmake-build-*
